In [ ]:
# What are collections / data structures 
# collections are temporary databases
# list is mutable ordered collection of hetergeous elements
# complexity is O(n) for insert/delete/search where n is size of list 
mylist=["sachin",10,True,89.56,None,(10+4j)]
print(type(mylist),id(mylist))
print(mylist)
print(mylist[0],type(mylist[0])) # use index slicing operator on list to unpack values
print(mylist[1],type(mylist[1]))
print(mylist[2],type(mylist[2]))
print(mylist[-1])
print(mylist[0:2])
print(mylist[::2])
print(mylist[::-1]) # [start:next_to_last:step_count]

In [ ]:
# CRUD operations i.e. Create Read Update Delete
banks=["sbi","icici","kotak"]
print(banks,id(banks))
print(dir(list))
banks.insert(1,"axis") # pass the position of the element and object to insert
print(banks,id(banks))
banks.append("dena bank") # add element at the end
print(banks,id(banks))
mybanks=["bob","dueushe bank","kotak"]
banks.extend(mybanks) # merge elements of one collection into another
print(banks,id(banks))
print("Total number of banks",len(banks))
print(f'kotak occurs {banks.count("kotak")} times')
banks.reverse()
print(banks,id(banks))
banks.sort()
print(banks,id(banks))
banks.sort(reverse=True)
print(banks,id(banks))
#banks.find("sbi") # There is no find() # AttributeError
print("Position of axis is ",banks.index("axis"))
print("Position of kotak is ",banks.index("kotak"))
print("Position of next kotak is ",banks.index("kotak",2)) # start position to locate the index
#newbanks=banks # shallow copy is copy to reference into another reference # both ref point the same obj
newbanks=banks.copy() # deep copy creates a new object at a new memory location
print(newbanks,id(banks),id(newbanks))
newbanks.clear()
print(newbanks,banks,id(banks),id(newbanks))
banks[0]="state bank" # update using index operator. There is no update method in list!
# previous string gets garbage collected
print(banks)
print("Poped bank is ",banks.pop()) # default index is -1 and will remove last element from list
print(banks)
print("Poped bank is ",banks.pop(1)) # pop the element with index and return the value
print(banks)
banks.remove('dena bank') # return type of remove is None
print(banks)
del banks[2] # use del to delete a value from list
print(banks)
#del banks # delete the whole collection
#print(banks) # NameError if you use the reference

In [ ]:
list1=[10,20,30]
list2=[40,50]
list1.append(list2) # create collection of collection
print(list1)
list1.extend(list2) # merge elements of one collection into another collection
print(list1)

In [ ]:
# tuple is immutable (readonly) ordered collection of hetergeous elements
# complexity is O(n) for search where n is size of list
# use () to create a tuple # you cannot perform update/delete/insert operations on tuple
bse=("tomtom",5000,1234.56)
print(type(bse),bse)
# use [] to unpack few values from a list of many values
print("company is ",bse[0]) # use [] to unpack values from tuple
print("shares is ",bse[1])
print("price is ",bse[2])
print("reveresed elements of tuple",bse[::-1])
#del bse[0] #TypeError: 'tuple' object doesn't support item deletion
#bse[0]="TOMTOM" #TypeError: 'tuple' object does not support item assignment
#print(dir(tuple))
# use if number of values are less to unpack as it increases readability of code
company,shares,price=bse # use multiple variable assingment to unpack tuple
print(type(bse),type(company),type(shares),type(price))
print(f"company is {company}\nshares is {shares}\nprice is {price}\n")
nse=bse # shallow copy is allowed as only one object is created
print(nse,id(bse),id(nse))

In [ ]:
banks=("sbi","icici","kotak","sbi","axis","sbi")
print("sbi occurs",banks.count("sbi"))
print("sbi is at",banks.index("sbi"))
print("sbi is at",banks.index("sbi",1))

In [ ]:
print(dir(tuple))

In [ ]:
# database as well as records both can be modified or updated
# all operations create/read/update/delete possible
sensex=[
            ["accenture",100,599.45],
            ["ibm",200,789.45],
            ["wipro",300,1234.56],
            ["tomtom",400,7812.45]
]
print(sensex)
print("Total number of records",len(sensex))
print("Record number 3 is ",sensex[2])
print("Last record is ",sensex[-1])
print("second and third record is",sensex[1:3])
print("Price of IBM is ",sensex[1][-1],sensex[1][2])
sensex.insert(1,["infosys",145,7894.2])
sensex.append(["vodafone",645,5824.2])
del sensex[2]
print(sensex)
sensex.pop(2)
sensex.remove(['vodafone', 645, 5824.2]) # delete
sensex[2][0]="TOMTOM" # update
print(sensex)

In [ ]:
# database is readonly and records are also readonly!
sensex=(
           ("accenture",100,599.45),
           ("ibm",200,789.45),
           ("wipro",300,1234.56),
           ("tomtom",400,7812.45)
)
print(sensex)

In [ ]:
# records are readonly but database can be modified
sensex=[
           ("accenture",100,599.45),
           ("ibm",200,789.45),
           ("wipro",300,1234.56),
           ("tomtom",400,7812.45)
]
sensex.insert(1,("infosys",145,7894.2))
sensex.append(("vodafone",645,5824.2))
del sensex[2]
print(sensex)
sensex.pop(2)
#sensex[2][0]="TOMTOM" #TypeError: 'tuple' object does not support item assignment
sensex.sort(reverse=True)
print(sensex)

In [ ]:
sensex=(
           ["accenture",100,599.45],
           ["ibm",200,789.45],
           ["wipro",300,1234.56],
           ["tomtom",400,7812.45]
)
sensex[0][0]="High performance delivered" # update work
del sensex[-1][-1] # 7812.45 gets deleted from last record
sensex[-1].insert(1,99999)
print(sensex)

In [ ]:
mydict={}
print(type(mydict))

In [ ]:
value=10
print(type(value))
value=[10]
print(type(value))
value=()
print(type(value))
value=(10) # int 
print(type(value))
value=10,20 # comma operator creates a tuple using () is optional for tuple!
print(type(value))
value=(10,) # tuple with one element
print(type(value))
value={}
print(type(value)) # dict
value={10}
print(type(value)) # set
value={10:"sachin"}
print(type(value)) # dict