In [ ]:
# use ctrl+ / to comment and uncomment a block while debugging!
print("can print \n'single quotes' \nwithin double quotes")
print('can print \n"double quotes"\n within single quotes')
print("Use escape \tsequences to print\t \"double quotes\" \t within double quotes")
print('Use escape \t sequences to print\t \'single quotes\' \t within double quotes')
print("""
            Triple quotes can enclose
            any number of "double quotes" 
            as well as 'single quotes'
            without using escape sequences to do formatting!
""")
print('''
            Triple quotes can enclose
            any number of "double quotes" 
            as well as 'single quotes'
            without using escape sequences to do formatting!
''')

In [ ]:
# use index slicing operator on class str
# [ start : next_to_last : step_count ]
# start is 0 by default and step_count is 1 by default
guideline1="How to write beautiful code in python using PEP 8"
print(guideline1)
print(guideline1[:])
print(guideline1[::])
print(guideline1[::1])
print(guideline1[0])
print(guideline1[0:3]) # Here 3 is not included! How
print(guideline1[::2])
print(guideline1[-1]) # 8
print(guideline1[-5:]) # PEP 8
print(guideline1[-18:-12]) # python step_count is 1 by default
# use lower index to higher index for negative values else use a negative step count!
print(guideline1[::-1]) # reverse the str object!

In [ ]:
# How to perform concatenation of strings
network_id="192.168"
host_id="10.1"
ip_address=network_id+"."+host_id # use + to concatenate str objects
print(f"ip address of system is  = {ip_address}")
ip_address=f"{network_id}.{host_id}" # use fstring to concatenate str object using pythonic way!
print(f"ip address of system is  = {ip_address}")
subnet=24
print(f"ip with subnet is {ip_address}/{subnet}") # pythonic style keeps concatenation clean!
ip_sub=ip_address+"/"+str(subnet) # traditional way of concate using +
print(f"ip with subnet is {ip_sub}")

In [ ]:
guideline2="zen of python using pep 20"
print(f"Length of the string is {len(guideline2)}")
guideline_3times=guideline2*3
print(guideline_3times)
guideline_3times=guideline2.__mul__(3) # implicit method gets called if you use * operator!
print(guideline_3times)

In [1]:
print(dir(str)) # return a list of all methods of str class
# __method__() # implict methods # dunder methods # magic methods

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
print(help(str.isnumeric)) # use shift + tab to pull docstring for any method using ide feature

In [ ]:
print? # use ? after function to pull docstring for any function

In [ ]:
company="tomtom"
print(company.isalnum())
print(company.isdigit())
print(company.isnumeric())
print(company.isupper())
print(company.islower())
print(company.isprintable())
print(company.isalpha())
print(company.startswith('t'))
print(company.startswith('tom'))
print(company.endswith('M'))

In [ ]:
# str object is immutable any method on str object creates a new object at new memory location
company="tomtom india"
print(id(company))
print(company.upper())
company=company.title()
print(company,id(company))
company=company.capitalize()
print(company)
company=company.swapcase()
print(company)
company=company.lower()
print(company)

In [14]:
company="tomtom india"
print(company.center(100,'*'))
print(company.ljust(100,'-'))
print(company.rjust(100,'$'))

********************************************tomtom india********************************************
tomtom india----------------------------------------------------------------------------------------
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$tomtom india

In [20]:
fact="          python is easy and python is beautiful python    "
fact=fact.strip() # whitespace by default are striped from both ends!
print(fact)
#fact=fact.strip("python") # remove string from both ends!
#print(fact)
fact=fact.lstrip("python") # remove string from leftside
print(fact)
fact=fact.rstrip("python") # remove string from rightside
print(fact)

python is easy and python is beautiful python
 is easy and python is beautiful python
 is easy and python is beautiful

In [24]:
check="ipython3.13"
language=check.strip("i").strip("3.13") # strip returns str object so can use cascading
print(language)
version=float(check.strip("ipython")) # use conversion function to convert str object
print(version,type(version))

python
3.13 <class 'float'>

In [28]:
email="devadatta@gmail.com"
parse_email=email.split('@') # split method returns a list of values after parsing the str object
print(parse_email,type(parse_email))
print(f" username is {parse_email[0]}")
print(f" Domain is {parse_email[1]}")

['devadatta', 'gmail.com'] <class 'list'>
 username is devadatta
 Domain is gmail.com

In [33]:
date="13-Nov-2024"
parse_date=date.split("-")
print(type(parse_date),type(parse_date[0]))
print(f"Day is {int(parse_date[0])}")
print(f"Month is {parse_date[1]}")
print(f"Year is {int(parse_date[2])}")

<class 'list'> <class 'str'>
Day is 13
Month is Nov
Year is 2024

In [48]:
fact1="""
         ansible uses multiple variable assignments
         e.g emp_id,emp_sal,emp_name=100,2.1,"vinay"
         ansible uses tuple unpacking to do so
         e.g product,price="laptop",100000
"""
print(fact1)
fact1.replace("ansible","python") # will replace all occurances by default
print(fact1)

         ansible uses multiple variable assignments
         e.g emp_id,emp_sal,emp_name=100,2.1,"vinay"
         ansible uses tuple unpacking to do so
         e.g product,price="laptop",100000


         ansible uses multiple variable assignments
         e.g emp_id,emp_sal,emp_name=100,2.1,"vinay"
         ansible uses tuple unpacking to do so
         e.g product,price="laptop",100000

In [47]:
sql_query="insert into emp values(%s , %d , %f)"
create_sql=sql_query.replace("%s , %d , %f","vinay,100,1.2")
print(create_sql)

insert into emp values(vinay,100,1.2)

In [52]:
price=" Rs 12,500.99/- "
price=price.strip().strip("Rs").strip("/-")
print(price,type(price))
price=float(price.replace(",",""))
print(price,type(price))

 12,500.99 <class 'str'>
12500.99 <class 'float'>

In [55]:
company=['t','o','m','t','o','m']
print("".join(company))
print("\t".join(company))
print(",".join(company))

tomtom
t	o	m	t	o	m
t,o,m,t,o,m

In [66]:
fact1="""
         ansible uses multiple variable assignments
         e.g emp_id,emp_sal,emp_name=100,2.1,"vinay"
         ansible uses tuple unpacking to do so
         e.g product,price="laptop",100000
"""
print(len(fact1))
print(fact1.count('a'))
print(fact1.count('e.g'))
print(fact1.find('e.g'))
print(fact1.find('e.g',63))
print(fact1.index('e.g'))
print(fact1.index('e.g',63))
print(fact1.find('dockers'))
try:
    print(fact1.index('dockers'))
except:
    print("Substring not present")

196
10
2
62
162
62
162
-1
Substring not present